@{
    TempData["Title"] = "Haber Ekle";
}
@section Links{
    <!-- Summernote CSS -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
}
<h1>Blog Ekle</h1>
    <div class="row">
        <div class="mb-3">
            <form method="post" id="form">
                <input type="hidden" name="Id" id="id">
                <label for="name">Başlık</label>
                <input type="text" name="Name" id="name" class="form-control input-rounded" placeholder="Başlık Giriniz.">

                <label for="subtitle">Alt Başlık</label>
                <input type="text" name="Subtitle" id="subtitle" class="form-control input-rounded" placeholder="Alt başlık Giriniz.">

                <label for="image">Resim Seçiniz</label>
                <input type="file" name="ImagePath" id="image" class="form-control input-rounded">

                <label for="summernote">Blog Yazısı</label>
                <div id="summernote"></div>

                <label for="Categories">Kategori Seçiniz</label>
                @Html.DropDownList("Categories",null,"Bir Kategori Seçiniz",new {@class="form-control",@name="Category"})

                <button onclick="Save()" id="createButton" class="btn btn-primary">Ekle</button>
                <a href="/Home/BlogList" class="btn btn-danger">Geri</a>
            </form>
        </div>
    </div>

@section Scripts{
    <!--? summernote js-->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#summernote').summernote();
        });

        function Save(){
            let name = $("#name").val();
            let subtitle = $("#subtitle").val();
            let category = $("#Categories").val();
            let content = $("#summernote").summernote('code');
            let form = document.getElementById("form");

            var formData = new FormData(form);
            formData.append("name", name);
            formData.append("subtitle", subtitle);
            formData.append("categoryId", category);
            formData.append("content", content);

            fetch('/Home/BlogCreate',{
                method: "POST",
                body: formData
            })
            .then(res=>res.json())
            .then(res=>{
                alert("Başarılı bir şekilde kaydedildi.")
            })
        }
    </script>
 }
