@{
    ViewData["Title"] = "Anasayfa";
}

<div class="row">
    <div class="col-xl-3">
        <partial name="~/Views/Home/Partials/IndexPartials/_StatisticPartial.cshtml" />
    </div>
    <div class="col-xl-5">
        <partial name="~/Views/Home/Partials/IndexPartials/_ReviewPartial.cshtml" />
    </div>
    <div class="col-xl-4">
        <partial name="~/Views/Home/Partials/IndexPartials/_ToDoListParital.cshtml" />
    </div>
    <div class="col-xl-12">
        <partial name="~/Views/Home/Partials/IndexPartials/_BlogListPartial.cshtml" />
    </div>
</div>